devices/FPGA/stf_output/project/~AutoRecover.stf_output.vcxproj
*.opensdf
*.sdf
devices/FPGA/trigger/project/~AutoRecover.trigger.vcxproj
labs/EP/fpgaDevices/UpgradeLog.htm
devices/cameras/PIXIS_device/project/Debug/
devices/cameras/PIXIS_device/project/Release/
devices/cameras/PIXIS_device/project/PIXIS_camera_Module_0_attributes.ini
devices/cameras/PIXIS_device/project/test.png
devices/cameras/PIXIS_device/project/test.tif
devices/cameras/Pixis_Add-In/project/x64/Release/
devices/test-meas/CleverScope/SimpleScope/Debug/
devices/cameras/Pixis_Add-In/PixisDeviceCLR/project/Release/PixisDeviceCLR.tlog/CL.command.1.tlog
devices/test-meas/CleverScope/vcproject/Debug/
devices/cameras/Pixis_Add-In/PixisDeviceCLR/project/Release/
devices/cameras/Pixis_Add-In/PixisDeviceCLR/project/Debug/
devices/cameras/Pixis_Add-In/PixisAddIn/bin/Release/
devices/cameras/Pixis_Add-In/PixisAddIn/obj/Debug/
devices/cameras/Pixis_Add-In/PixisAddIn/obj/Release/
devices/test-meas/CleverScope/vcproject/UpgradeLog.htm
sh.exe.stackdump
devices/cameras/Pixis_Add-In/project/Release/
devices/cameras/Smartek/project/Debug/
devices/cameras/Smartek/project/x64/
devices/cameras/Smartek/project/Release/
devices/cameras/Smartek/project/Smartek.VC.VC.opendb
devices/cameras/BlackflyS/project/Debug/
devices/cameras/BlackflyS/project/Release/
devices/cameras/BlackflyS/project/BlackflyS.VC.VC.opendb
devices/cameras/BlackflyS/project/BlackflyS.VC.db
devices/cameras/Smartek/project/Smartek.VC.db
devices/cameras/BlackflyS/project/x64/
devices/XEM7310/writebus/project/.vs/
devices/XEM7310/writebus/project/x64/
devices/XEM7310/writebus/project/Debug/
devices/XEM7310/writebus/hdl/stf_port/stf_port.runs/.jobs/
devices/XEM7310/writebus/hdl/stf_port/stf_port.runs/impl_1/
!devices/XEM7310/writebus/hdl/stf_port/stf_port.runs/impl_1/stf_bus.bit
devices/XEM7310/writebus/hdl/stf_port/stf_port.runs/synth_1/
devices/XEM7310/writeregister/project/x64/
devices/XEM7310/writeregister/project/.vs/
devices/XEM7310/writeregister/hdl/writereg/writereg.runs/
devices/XEM7310/writeregister/hdl/blk_mem_gen_0_ex/
devices/XEM7310/bufwritter/hdl/bufwriter/bufwriter.runs/impl_1/
devices/XEM7310/bufwritter/hdl/bufwriter/bufwriter.runs/.jobs/vrs_config_1.xml
devices/XEM7310/bufwritter/hdl/bufwriter/bufwriter.runs/
devices/XEM7310/bufwritter/project/.vs/
devices/XEM7310/bufwritter/project/x64/
devices/XEM7310/bufwritter/hdl/bufwriter/bufwriter.sim/sim_1/
